<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>
<center><h3 th:text="${title}">Philosophy</h3></center>

<div class="jumbotron" style="margin:20px">

    <center>
    <form method="post" style="max-width:600px;" th:object="${sage}">

        <div class="card border-info mb-3" style="max-width: 600px;">
            <div class="card-header">
                <div class="form-group">
                    <label th:for="name">Name</label>
                    <input class="form-control" th:field="*{name}" placeholder="Name"/>
                    <span th:errors="*{name}" class="error"></span>
                </div>

                <div class="form-group">
                    <label th:for="bio">Bio</label>
                    <input class="form-control" type="text" th:field="*{bio}" placeholder="Bio" />
                    <span th:errors="*{bio}" class="error"></span>
                </div>
            </div>

            <div class="card-body">
                <center>
                    <input class="btn btn-success btn-lg" type="submit" value="Add Sage" />
                </center>
            </div>
        </div>

    </form>
    </center>

</div>

</body>

<footer th:replace="fragments :: footer"></footer>

</html>