<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>

<br />

<a href="/sage/add">Add a new Sage</a> |
<a href="/sage/upload-file">Upload a file here</a>


<p th:unless="${sages} and ${sages.size()}">No Sages :(</p>

<ul>

    <div class="infobox" th:each="sage : ${sages}">
        <h2 th:text="${sage.name}"></h2>
        <img src="https://upload.wikimedia.org/wikipedia/commons/1/18/The_School_of_Athens.jpg" alt="philosophers" height=200px width=400px />
        <figcaption><a href="/knowledge/">read philosophy here</a></figcaption>
        <p th:text="'Bio: ' + ${sage.bio}"></p>
    </div>

</ul>

</body>

<footer th:replace="fragments :: footer"></footer>

</html>