<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>
<center><h3 th:text="${title}">Philosophy</h3></center>

<nav>
    <ol class="breadcrumb" style="margin:20px 65px">
        <li class="breadcrumb-item"><a href="/sage/add">Add a new Sage here</a></li>
        <li class="breadcrumb-item"><a href="/sage/add-wisdom">Add Wisdom here</a></li>
    </ol>
</nav>

<div class="jumbotron" style="margin:20px 65px">

    <script type="text/javascript" th:src="@{/js/sort.js}"></script>
    <center><button class="btn btn-success btn-sm" onclick="sortListDir()">Sort Alphabetically</button></center>

    <br/>
    <br/>

<ul id="sort">

    <p th:unless="${sages} and ${sages.size()}">No Sages :(</p>

    <div class="card border-primary mb-3" style="min-width: 500px; max-width:500px; display:inline-block; margin:20px 16px" th:each="sage : ${sages}">
        <div class="card-header">
            <center>
                <h3 th:text="${sage.name}"></h3>
            </center>
        </div>
        <div class="card-body">
            <center>
                <img src="https://upload.wikimedia.org/wikipedia/commons/1/18/The_School_of_Athens.jpg" alt="philosophers" height=200px width=450px />
                <figcaption><a th:href="'/sage/' + ${sage.id}">Read philosophy here</a></figcaption>
                <p th:text="'Bio: ' + ${sage.bio}"></p>
            </center>
        </div>
    </div>

</ul>

</div>

</body>

<footer th:replace="fragments :: footer"></footer>

</html>
