<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>
<center><h3 th:text="${title}">Philosophy</h3></center>

<div class="alert alert-dismissible alert-success" style="margin:20px" th:if="${message}" >
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong th:text="${message}"/>
    <a href="#" class="alert-link">Well Done!</a>.
</div>

<div class="jumbotron" style="margin:20px 65px">

    <center>
    <form method="post" enctype="multipart/form-data" action="/sage/upload-file" th:object="${wisdom}">

        <div class="card border-success mb-3" style="max-width: 400px;">
            <div class="card-header">
                <div class="form-group">
                    <label th:for="sage">Sage: </label>
                    <select class="form-control" style="max-width: 300px" name="sageId">
                        <option th:each="sage : ${sages}"
                                th:text="${sage.name}"
                                th:value="${sage.id}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label>File to Upload: </label>
                    <input class="form-control" style="max-width: 300px" aria-describedby="fileHelp" type="file" name="file"/>
                    <small id="fileHelp" class="form-text text-muted">Still doesn't save data from file just the filename!</small>
                </div>
            </div>

            <div class="card-body">
                <div>
                    <center>
                        <label></label>
                        <input class="btn btn-success btn-lg" type="submit" value="Upload" />
                    </center>
                </div>
            </div>
        </div>

    </form>
    </center>

</div>

<div class="jumbotron" style="margin:20px 65px" >
<table class="table table-hover">
    <thead>
    <tr class="table-success">
        <th scope="col">File Name</th>
        <th scope="col">File</th>
        <th scope="col">Sage</th>
    </tr>
    </thead>
    <tbody th:each="file : ${files}" >
    <tr class="table-light">
        <th scope="row">File Name</th>
        <td><a th:href="${file}" th:text="${file.fileName}" /></td>
        <td th:text="${file.sage.name}">Column content</td>
    </tr>
    </tbody>
</table>
</div>

</body>

<footer th:replace="fragments :: footer"></footer>

</html>
