<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>
<center><h3 th:text="${title}">Philosophy</h3></center>

<div class="jumbotron" style="margin:20px 65px" >

    <p th:unless="${philosophies} and ${philosophies.size()}">No Wisdom :(</p>

    <center>
        <div class="card border-primary mb-3" style="max-width:600px;" th:each="philosophy : ${philosophies}">
            <div class="card-header">
                <center>
                    <strong><h4><a th:href="${philosophy.source}" th:text="${philosophy.name}"></a></h4></strong>
                    <i><figcaption><a th:href="'/' + ${philosophy.branch.id}" th:text="'Branch: ' + ${philosophy.branch.name}"></a></figcaption></i>
                </center>
            </div>
            <div class="card-body">
                <i><figcaption><a th:href="'/sage/' + ${philosophy.sage.id}" th:text="'Written By: ' + ${philosophy.sage.name}">written by: </a></figcaption></i>
                <br />
                <center>
                    <p th:text="${philosophy.description}"></p>
                </center>
                <br />
                <a href="/sage/remove">Remove</a>
            </div>
        </div>
    </center>

</div>

</body>

<footer th:replace="fragments :: footer"></footer>

</html>
