<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>
<center><h3 th:text="${title}">Philosophy</h3></center>

<nav>
    <ol class="breadcrumb" style="margin:20px 65px">
        <li class="breadcrumb-item"><a href="/knowledge/add">Add a new discussion post here</a></li>
    </ol>
</nav>

<div class="jumbotron" style="margin:20px 65px">
<ul>

    <p th:unless="${knowledge} and ${knowledge.size()}">No Knowledge Added :(</p>

    <center>
    <div class="card border-primary mb-3" style="max-width:600px;" th:each="info : ${knowledge}">
        <div class="card-header">
            <center>
                <strong><h4 th:text="${info.name}"></h4></strong>
                <i><figcaption><p>written by: </p></figcaption></i>
            </center>
        </div>
        <div class="card-body">
            <center>
                <p th:text="${info.body}"></p>
            </center>
            <a href="/knowledge/remove">Remove</a>
        </div>
    </div>
    </center>

</ul>
</div>

</body>

<footer th:replace="fragments :: footer"></footer>

</html>
