<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/knowledge/add">Add a new discussion post here</a></li>
    </ol>
</nav>

<div class="jumbotron">
<ul>

    <p th:unless="${knowledge} and ${knowledge.size()}">No Knowledge Added :(</p>

    <div class="card border-info mb-3" style="max-width: 450px;" th:each="info : ${knowledge}">
        <div class="card-header">
            <h3 th:text="${info.name}"></h3>
            <figcaption><p>written by: </p></figcaption>
        </div>
        <div class="card-body">
            <p th:text="${info.body}"></p>
            <a href="/knowledge/remove">Remove</a>
        </div>
    </div>

</ul>
</div>

</body>

<footer th:replace="fragments :: footer"></footer>

</html>