<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>
<center><h3 th:text="${title}">Philosophy</h3></center>

<nav>
    <ol class="breadcrumb" style="margin:20px 65px">
        <li class="breadcrumb-item"><a href="/knowledge/add">Add a new discussion post here</a></li>
    </ol>
</nav>

<div class="jumbotron" style="margin:20px 65px">

    <p th:unless="${knowledge} and ${knowledge.size()}">No Knowledge :(</p>

    <center>
    <div class="card border-primary mb-3" style="max-width:600px;" th:each="info : ${knowledge}">
        <div class="card-header">
            <center>
                <strong><h4><figcaption><a th:href="'/knowledge/' + ${info.id}" th:text="${info.name}"></a></figcaption></h4></strong>
                <i><figcaption><a th:href="'/' + ${info.branch.id}" th:text="'Branch: ' + ${info.branch.name}"></a></figcaption></i>
            </center>
        </div>
        <div class="card-body">
            <i><figcaption><a th:href="'/philosopher/' + ${info.philosopher.id}" th:text="'Written By: ' + ${info.philosopher.username}">written by: </a></figcaption></i>
            <br />
            <center>
                <p th:text="${info.body}"></p>
            </center>
            <br />
            <a href="/knowledge/remove">Remove</a>
        </div>
    </div>
    </center>

</div>

</body>

<footer th:replace="fragments :: footer"></footer>

</html>
