<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>
<center><h3 th:text="${title}">Philosophy</h3></center>


<div class="jumbotron" style="margin:20px 65px">

    <center>
        <div class="card border-primary mb-3" style="max-width:600px;">
            <div class="card-header">
                <center>
                    <strong><h4 th:text="${philosophy.name}"></h4></strong>
                    <i><figcaption><a th:href="'/' + ${philosophy.branch.id}" th:text="'Branch: ' + ${philosophy.branch.name}"></a></figcaption></i>
                </center>
            </div>
            <div class="card-body">
                <i><figcaption><a th:href="'/philosopher/' + ${philosophy.philosopher.id}" th:text="'Written By: ' + ${philosophy.philosopher.username}">written by: </a></figcaption></i>
                <br />
                <center>
                    <p th:text="${philosophy.body}"></p>
                </center>
                <br />
            </div>
        </div>
    </center>

</div>

<div class="jumbotron" style="margin:20px 65px">

    <center><h3>Enlightenment</h3></center>

    <center><p th:unless="${enlightenment} and ${enlightenment.size()}">No Enlightenment :(</p></center>

    <center>
        <div class="card border-primary mb-3" style="max-width:600px;" th:each="comment : ${enlightenment}">
            <div class="card-header">
                <center>
                    <strong><h4><figcaption><a th:href="'/knowledge/' + ${comment.knowledge.id}" th:text="${comment.knowledge.name}"></a></figcaption></h4></strong>
                </center>
            </div>
            <div class="card-body">
                <br />
                <center>
                    <p th:text="${comment.body}"></p>
                </center>
            </div>
        </div>
    </center>

</div>

</body>

<footer th:replace="fragments :: footer"></footer>

</html>
