<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>
<center><h3 th:text="${title}">Philosophy</h3></center>


<div class="jumbotron" style="margin:20px 65px">

    <center>
        <div class="card border-primary mb-3" style="max-width:600px;">
            <div class="card-header">
                <center>
                    <strong><h4 th:text="${philosophy.name}"></h4></strong>
                    <i><figcaption><a th:href="'/' + ${philosophy.branch.id}" th:text="'Branch: ' + ${philosophy.branch.name}"></a></figcaption></i>
                </center>
            </div>
            <div class="card-body">
                <br />
                <center>
                    <p th:text="${philosophy.body}"></p>
                </center>
                <br />
                <footer class="blockquote-footer"><i><figcaption><a th:href="'/philosopher/' + ${philosophy.philosopher.id}" th:text="'Written By: ' + ${philosophy.philosopher.username}">written by: </a></figcaption></i></footer>
            </div>
        </div>
    </center>

    <br/>
    <br/>

    <center><a th:href="'/knowledge/' + ${philosophy.id} + '/enlightenment/add/'">Add Enlightenment</a></center>

</div>


<center><h3>Enlightenment</h3></center>

<div class="jumbotron" style="margin:20px 65px">

    <center><p th:unless="${enlightenment} and ${enlightenment.size()}">No Enlightenment :(</p></center>

    <center>
        <div th:each="comment : ${enlightenment}">
            <blockquote class="blockquote text-center" style="max-width:600px;">
                <p class="mb-0" th:text="${comment.body}"></p>
                <footer class="blockquote-footer"><i><figcaption><a th:href="'/philosopher/' + ${comment.philosopher.id}" th:text="${comment.philosopher.username}">written by: </a></figcaption></i></footer>
            </blockquote>
            <hr/>
            <br/>
        </div>
    </center>

</div>

</body>

<footer th:replace="fragments :: footer"></footer>

</html>
