<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav>

<div class="jumbotron">
<ul>

    <p th:unless="${philosophers} and ${philosophers.size()}">No Philosophers :(</p>

    <div class="card border-info mb-3" style="max-width: 450px;" th:each="philosopher : ${philosophers}">
        <div class="card-header">
            <h2 th:text="${philosopher.name}"></h2>
        </div>
        <div class="card-body">
            <img src="https://upload.wikimedia.org/wikipedia/commons/1/18/The_School_of_Athens.jpg" alt="philosophers" height=200px width=400px />
            <figcaption><a href="/knowledge/">read philosophy here</a></figcaption>
            <p th:text="'Email: ' + ${philosopher.email}"></p>
        </div>
    </div>

</ul>
</div>

</body>

<footer th:replace="fragments :: footer"></footer>

</html>
